.slider > .colored-track {
    -fx-background-color: #F50057;
}
.slider > .animated-thumb {
    -fx-background-color: #F50057;
}
.slider .thumb{
    -fx-background-color: #F50057;
}
.slider .thumb:hover{
    -fx-background-color: #ffa71a;
}

/*#slide .slider-value {*/
/*    -fx-fill: #43ff23;*/
/*    -fx-stroke: #3bff28;*/
/*}*/